html, body {
  margin: 0;
  padding: 0;
  /* background-color: rgb(73, 102, 173); */
  overflow-x: hidden;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  /* border-style: solid;
  border-color: rgb(100,100,100); */
  position: fixed;
  right: 5%;
  display: inline-block;
  width: 15%;
  height: 15vw;
  z-index: 4;
}

/* Dropdown Button */
.dropbtn {
  position: absolute;
  right: 0;
  background-color: rgb(0,0,0,0);
  /* background-color: #04AA6D; */
  font-family: 'Zilla Slab', san-serif;
  color: black;
  /* padding: 16px; */
  font-size: 2vw;
  border: none;
  z-index: 4;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  /* border-style: solid;
  border-color: rgb(100,100,100); */
  font-family: 'Plus Jakarta Sans', sans-serif;
  display: none;
  position: absolute;
  height: 100%;
  right: 0;
  top: 20%;
  background-color: rgb(0,0,0,0.05);
  width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  text-align: right;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {opacity: 0.6;}

.homebanner{
  position: fixed;
  width: 50%;
  font-family: 'Zilla Slab', serif;
  font-size: 2vw;;
  z-index: 4;
  left: 5%;
  top: 1%;
  /* background-color: white; */
}

a:link, a:visited{
  text-decoration: none;
  color: black;
}

a:hover {
  opacity: 0.6;
}
.page-content {
  /* background-color: yellow; */
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100px;
}
.section-container {
  /* border-style: solid;
  border-color: rgb(100,100,100); */
  position: relative;
  width: 100%;
  min-height: 50vw;
  /* background-color: pink; */
}

.divider {
  position: relative;
  width: 100%;
  height: 5vw;

}
#assemblage {
  height: 280vw;
  background-color: rgb(73, 102, 173);
  background-color: rgb(177, 20, 147);
}

#graphic-design{
  background-color: rgb(198, 175, 77);
  background-color: rgb(195, 191, 76);

  height: 60vw;
}

#creative-coding {
  height: 220vw;
  /* background-color: rgb(198, 198, 247); */
  /* background-color: rgb(212, 43, 38); */

}

.featured-title {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 40px;
  color: black;
  padding-bottom: 0;
  text-align: center;
  /* font-style: italic; */
}

.section-title{
  position: absolute;
  top: 0.5%;
  left: 5%;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 25px;
  color: black;
  padding-bottom: 0;
  text-align: left;
}

.project-title {
  /* border-style: solid;
  border-color: rgb(100,100,100); */
  position: absolute;
  left: 10%;
  width: 80%;
  height: 10vh;
  /* padding-top: 10px; */
  font-size: 18px;
  font-style: italic;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.sketch-title {
  position: absolute;
  left: 0%;
  bottom: 0;
  height: 2vw;
  font-size: 18px;
  font-style: italic;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.images-container {
  position: absolute;
  /* background-color: pink; */
  width: 80%;
  left: 10%;
  transition: transform.3s;
}

.single-image-container:hover{
  transform: scale(1.08);
  duration: 1s;
}
.single-image-container {
  /* border-style: solid;
  border-color: rgb(100,100,100); */
  position: absolute;
  transition: transform.3s;
}

.images-container:hover{
  transform: scale(1.08);
  duration: 1s;
}


#temporary-title {
  top: 42vw;
  color: black;
}

#bayt-title {
  top: 15vw;
  color: black;
  left: 37.5%;
}

#type-title {
  top: 44vw;
  color: black;
  left: 65%;
}

#temporary-people-container {
  width: 25%;
  top: 8vw;
  left: 5%;
  height: 40vw;
}
#al-ruwais-container {
  width: 25%;
  top: 18vw;
  left: 37.5%;
  height: 40vw;
}

#type-container {
  width: 25%;
  top:8vw;
  right: 5%;
  height: 40vw;
}

.poster {
  width: 100%;
  position: absolute;
  filter: drop-shadow(0 0 5px rgb(0,0,0,0.9));
}



#mask-title {
  top: 35vw;
  color: black;
  font-size: 20px;
}

#collage-title{
  top: 90vw;
  color: black;
  font-size: 20px;
}

#mask-left {
  position: absolute;
  height: 100%;
  left:0;
  filter: drop-shadow(0 0 2px rgb(0,0,0,0.8));

}
#mask-center   {
  position: absolute;
  height: 100%;
  left: 34.5%;
  filter: drop-shadow(0 0 2px rgb(0,0,0,0.8));
}
#mask-right {
  position: absolute;
  height: 100%;
  right:0;
  filter: drop-shadow(0 0 2px rgb(0,0,0,0.8));

}

#mask-images-container {
  top: 9vw;
  height: 25vw;
}

#set-collage-images-container {
  top: 50vw;
  height: 38vw;
}

/* #twins-images-container{
  position:absolute;
  width: 20%;
  right: 5%;
  top: 205vw;
  height: 45vw;
  /* box-shadow: 10px 10px rgb(0,0,0,0.9); */

} */

#collage2-title {
  top: 268vw;
  left: 10%;
  color: black;

}

#twins-collage {
  position: absolute;
  width: 100%;
  filter: drop-shadow(0 0 5px rgb(0,0,0,0.9));


}
#collage-left {
  position: absolute;
  left: 0;
  height: 100%;
  filter: drop-shadow(0 0 5px rgb(0,0,0,0.9));

}

#collage-right {
  position: absolute;
  right: 0;
  height: 100%;
  filter: drop-shadow(0 0 5px rgb(0,0,0,0.9));

}

#nycmem{
  width: 70%;
  left: 5%;
  height: 92vw;
  top: 102vw;
}

#twins{
  width: 70%;
  right: 10%;
  top: 205vw;
  height: 58vw;
  /* box-shadow: 10px 10px rgb(0,0,0,0.9); */
}

#assemblage-bg{
  overflow-x: hidden;
  position: absolute;
  left: -12%;
  height: 100%;
  filter: brightness(0.9);
  filter: saturate(1.1);
}

#graphic-design-bg{
  overflow-x: hidden;
  position: absolute;
  width: 130%;
}

.video-container {
  /* border-style: solid;
  border-color: rgb(100,100,100); */
  position: absolute;
  /* background-color: pink; */
}

.vid {
  margin: 0;
  padding: 0;
  width: 100%;
  transition: transform.3s;
  /* filter: drop-shadow(0 0 6px rgb(0,0,0,0.6)); */
}

.vid:hover{
  transform: scale(1.08);
  duration: 1s;
}
.largevid:hover{
  transform: scale(1.05);
  duration: 1s;
}

.water {
position: absolute;
width: 24%;
}

#water1{
  left: 0;
}

#water2{
  right: 0;
}

#water3{
  left: 25.25%;
}

#water4{
  right: 25.25%;

}
#vines {
  width: 50%;
  height: 41vw;
  top: 8vw;
  left: 5%;
}

#name-generator {
  width: 35%;
  height: 50vw;
  right: 5%;
  top: 8vw;
}

#water-series {
  /* background-color: pink; */
  width: 90%;
  height: 26vw;
  left: 5%;
  top: 65vw;
}

#mushroom-dancer{
  width: 40%;
  top: 100vw;
  height: 43vw;
  right: 5%;
}

#red-waves {
  width: 45%;
  height: 33vw;
  left: 5%;
  top: 100vw;
}

#portrait{
  width: 40%;
  height: 58vw;
  right: 5%;
  top: 150vw;
}

#seed{
  width: 45%;
  height: 48vw;
  left: 5%;
  top: 140vw;
}
